In [1]:
import pandas as pd
df = pd.read_csv('Global_annual_population.csv')
df.head()

   Year   Population  Unnamed: 2
0  1960         3.03         NaN
1  1961         3.07         NaN
2  1962         3.12         NaN
3  1963         3.19         NaN
4  1964         3.26         NaN

In [3]:
df.tail()

    Year   Population  Unnamed: 2
57  2017         7.52         NaN
58  2018         7.60         NaN
59  2019         7.68         NaN
60  2020         7.76         NaN
61  2021         7.84         NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         62 non-null     int64
 1    Population  62 non-null     float64
 2   Unnamed: 2   0 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 1.6 KB

In [5]:
df.columns.values

array(['Year', ' Population', 'Unnamed: 2'], dtype=object)

In [6]:
df.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61], dtype=int64)

In [7]:
print(type(df.columns))
print(type(df.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [8]:
df.columns.tolist()
df.index.tolist()

print (type(df.columns.tolist()))
print (type(df.index.tolist()))

<class 'list'>
<class 'list'>

In [9]:
df.shape

(62, 3)

In [13]:
df.isnull().sum()

Year            0
 Population     0
Unnamed: 2     62
dtype: int64

In [14]:
df.describe()

              Year   Population  Unnamed: 2
count    62.000000    62.000000         0.0
mean   1990.500000     5.341774         NaN
std      18.041619     1.457241         NaN
min    1960.000000     3.030000         NaN
25%    1975.250000     4.080000         NaN
50%    1990.500000     5.325000         NaN
75%    2005.750000     6.570000         NaN
max    2021.000000     7.840000         NaN

In [25]:
df.rename(columns={'Year':'Years', 'Population':'Pepole', 'Unnamed:2':'Unnnamed'}, inplace=True)
df.columns

Index(['Years', ' Population', 'Unnamed: 2'], dtype='object')

In [36]:
df.drop((['Years', ' Pepole','Unnnamed'],axis=1,inplace=True))
df.head(2)

SyntaxError: invalid syntax (406088221.py, line 1)